$siteColor: #1698d9;
$r: 2em;



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
    background: url('./imgs/BG_Shadow.png');
}

a {
    text-decoration: none;
}

.header {
    font-size: 36px;
    font-weight: 200;
    color: white;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 25px;
}

.conteiner {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.tovar-cart {
    background: url('/imgs/cat.png') no-repeat, white;
    background-position: -25px 210px;
    height: 480px;
    width: 320px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 4px solid $siteColor;
    text-decoration: none;
    overflow: hidden;
    padding: var(--r);

    &:before {
        position: absolute;
        padding: $r;
        box-shadow: 0 0 7px #b53;
        background: #95a;
        content: '';
        margin: -$r;
        border-radius: 50%;
        box-shadow: 0 0 0 300px rgba(#95a, .75);
    }

    &__content {
        margin-left: 50px;
        margin-top: 25px;

    }

    &__header {
        font-size: 16px;
        color: #666666;
    }

    &__brend {
        font-size: 48px;
        font-weight: bold;
        color: #000000;
    }

    &__discription {
        font-size: 25px;
        font-weight: bold;
        color: #000000;
    }

    &__quantity-and-present {
        font-size: 14px;
        line-height: 16px;
        color: #666666;
        margin-top: 20px;
        height: 350px;
    }

    &__circle {
        width: 80px;
        height: 80px;
        top: 380px;
        left: 220px;
        border-radius: 40px;
        border: black;
        background-color: $siteColor;
        text-align: center;
        position: absolute;
    }

    &__netto {
        padding-top: 22px;
        font-size: 42px;
        line-height: 22px;
        color: #fff;

        &_kg {
            font-size: 21px;
        }
    }

    &__question {
        font-size: 13px;
        line-height: 16px;
        color: #fff;
        text-align: center;
    }

    &__question_a {
        color: $siteColor;
        text-decoration: none;
        border-bottom: 1px dashed $siteColor;
    }
}