* {
    margin: 0;
    padding: 0;
}

body {
    background: url('./imgs/BG_Shadow.png');
}

.header {
    font-size: 36px;

    color: white;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 25px;
}

.conteiner {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.tovar-cart {
    background:url('/imgs/cat.png') no-repeat;
    background-position: -100px 75px;
    height: 480px;
    width: 320px;


}